/EjerciciosTEMA8/nbproject/private/
/EjerciciosTEMA8/build/
/EjerciciosTEMA8/dist/
/EjerciciosArchivos/ArchivosProgramacion/nbproject/private/
/EjerciciosFICHEROS/FicherosProgramacion/build/
/EjerciciosFICHEROS/FicherosProgramacion/nbproject/private/
/Calificaciones/nbproject/private/
/Calificaciones/build/
/Biblioteca/nbproject/private/
/PersonasMVC/nbproject/private/
/PersonasMVC/build/
/PersonasMVC/dist/
/Interfaces/nbproject/private/
/Interfaces/build/
/MiniCalculadora/nbproject/private/
/MiniCalculadora/build/
/MiniCalculadora/dist/
/Interfaces/dist/
/EjerciciosJFrame/nbproject/private/
/EjerciciosJFrame/build/
/Ruben_EntregaUD11/nbproject/private/
/Ruben_EntregaUD11/build/
/SimulandoTerminal/nbproject/private/
/SonarTest/nbproject/private/
/SonarTest/build/
/SonarLecturaFichero/nbproject/private/
/SonarLecturaFichero/build/
/PruebasBBDD/nbproject/private/
/PruebasBBDD/build/
/PruebasBBDD/dist/
/BurguerApp/nbproject/private/
/BurguerApp/build/
/BurguerApp/dist/
/TiendaBBDD/nbproject/private/
/TiendaBBDD/build/
/TiendaBBDD/dist/
